/*
header

font-size:1.5em;
background-color: #43ACC1;
color: white;

body :
h2 {
    font-size: 2.5em;
    margin: 5em;

footer: background-color: #022E3B;

*/

html {
    font-size: 10px;
    font-family: "Fjalla One", sans-serif;
}
/* header */ 
header {
    background-color: #43ACC1;
}
header img {
    margin: 10px;   
}
/*nav */
.menuwrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
    max-width: 1800px;
    margin: auto;
    position: relative;
}
nav {
    width: 100%;
}

nav ul {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    font-size: 1.5em;
    border: solid 2px white;
    margin: 1em;
     
}

nav ul a {
    display: block;
    padding: .2em .5em;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    
}

nav ul a:hover {
    background-color: white;
    color: #2f6a75;
}

.menuIcon, .menuIconClose {
    font-size: 3.6em;
    color: white;
    cursor: pointer;
    position: absolute; 
    top: 20px; 
    right: 10px;
}

.menuIconClose {
    display: none;
}

#checkbox {
    display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 1000px;
    transition: all .5s;
}

label {
    align-self: flex-end;
    position: absolute;
    top: 20px; 
    right: 10px;
}

#checkbox:checked + label .menuIcon {
    display: none;
}

#checkbox:checked + label .menuIconClose {
    display: block;
}
#search, #shopcart {
    font-size: 3.6em;
    color: white; 
    position: absolute; 
    top: 35px;
}
#search {
    right: 65px;
}
#shopcart {
    right: 115px;
}
.cart-icon, .search-icon  {
    color: white;
}
/*footer */
footer {
    background-color: #022E3B;
    text-align: center;
    color: white;
    padding: 3em 0;   
}
footer img {
    width: 200px;
    height: 100px;     
}
footer h3 {
    padding: .5em 2em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
}

footer p {
    font-size: 1.3em;
    padding: .5em 2em;
    text-align: left;
}
footer ul li {
    padding: .5em 4em;
    text-align: left;
}
.SMlogos {
    font-size: 2.5em;
    padding: .5em 0; 
    color: #43ACC1;
    
}

footer a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: #2f6a75;
}
.bottom {
    padding: 2em;
    font-weight: normal;
    color: darkgray;  
}
.ftleft {
    margin: 1rem;
}

/* jorge */
/*maps and sign section */
.sign {
    background-color: #022E3B;
    margin: 5em;
    padding: 5em;
    color: white;
}
.map, .sign {
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.mapsI iframe { 
    min-width: 450px;
    min-height: 350px;
    margin-bottom: 2.5em;
    
}
.map h2, .sign h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}
.map p {
    font-size: 1.5em; 
    margin: 1em 0;
}
.map ul li {
    margin-bottom: 1em;
}

.locBtns input, .signBtns input {
    border-radius: 25px;
    color: white;
    border: none; 
    padding: .5em 2em;
    
}
.locBtns input {    
    background-color: #43ACC1;
    box-shadow: 0 2px 3px #7d7d7d;
}
.locBtns input:hover, .signBtns input:hover  {
    color: #43ACC1;
    background-color: white;
    border: solid 1px #43ACC1;
}
.signBtns input {
    background-color: #022E3B;
    border: solid 3px #43ACC1;
    margin: 1em 0;
}
#Email {
    border-radius: 25px;
    margin-top: 1.5em;
    border: none; 
    width: 300px;
    padding: .5em 0;
}
/*media screens -----------------------------------------------------*/
@media screen and (min-width: 650px){
    .merge, footer .ftleft, footer .columns {
        display: flex;
        align-items: center;
}

    .merge, footer .ftleft .text, footer .columns .text {
        flex: 1;
}
    footer img {
        margin-left: .5em;
}
}
@media screen and (min-width: 920px){
    .menuIcon {
        display: none;
    }
    nav ul {
        max-height: 100px;
        padding: 1px 0;
        display: flex;
        position: absolute;
        top: 40px;
        left: 230px;
        margin: .2em;
    }
   nav ul li {
    margin: .1em;
}
/* jorge */    
.map {
    border: solid 1px black;
    margin: 5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around; 
}

.mapsI {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mapsI iframe { 
    min-width: 550px;
    min-height: 400px;
    margin-bottom: 0;    
}
}


/*ELizabeth*/
h2 {
    font-size: 2.3em;
    margin: 1.5rem;
}
h3 {
    font-size: 1.7em;
    margin: 1.5em;
}
#shippingTag {
    font-size: 1.5em;
    color: #BC572B;
    margin: 1rem;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    margin: .5em 2em .5em;
    line-height: 1.2em;
    
}

li {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: 2.5em;
    
}

/* Nika*/
/* media page */
.mediaInfo {
    margin-top: 2rem;
}
.posts,.videos {
    margin: 5rem;
}
.posts h2,.videos h2 {
    font-size: 2.5rem;
}
.postRow,.videosRow {
    font-size: 1.5rem;
    position: relative;
}
.postRow .likes {
    font-size: 1.5rem;
    margin: 1rem 1rem;
}
.postRow .likes span {
    margin-right: 2rem;
}
.postRow p {
    margin: 1rem;
}
.postRow .tags {
    color: #43ACC1;
    margin-top: 1rem;
   
}
.postRow article,.videosRow article {
    margin-top: 2rem;
    border: 1px solid black;
}
.videosRow article {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.videosRow .left {
    position: relative;
}
.videosRow .right {
    padding: 1rem;
}
.videosRow .right h3 {
    margin-bottom: 2rem;
}
.videosRow .right p {
    font-size: 1rem;
    color: #7d7d7d;
    margin-bottom: 2rem;
}
/* join page*/

.formArea{
    color: gray;
    padding: 2rem 0;
    margin: 5rem 5rem;
}
.formArea article{
    border: 1px dashed #43ACC1;
    padding: 2rem 1rem;
    position: relative;
}
.formGroup{
    position: relative;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}
.formArea li{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
    margin-left:0 ;
}
.form-control{
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(164, 164, 164);
}
.form-control:focus-visible{
    outline: 1px solid #43ACC1;
}
#msg.form-control{
    height: 200px;
   
}
.formArea article.right{
    margin-top: 2rem;
}
.formArea .form-title{
    position: absolute;
    top: -4rem;
    font-size: 2rem;
    color: #43ACC1;
    font-weight: 600;
    background-color: white;
    padding: 0 4px;
   
}
.formArea label {
    align-self: self-start;
    position: relative;
    top: 0;
    right: 0;
}

.submit{
    width: 100%;
    background-color: #43ACC1;
    color: white;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid #43ACC1;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.submit:hover{
    background-color: white;
    color: #43ACC1;
}
/* product */
.product{
    margin: 5rem;
}
.p-info h2{
    color: #43ACC1;
    margin-left: 2.5rem;
}
.p-info .detail{
    color:  #43ACC1;
    border: 2px solid  #43ACC1;
    border-radius: 10px;
    padding: .5rem 2rem;
   font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    text-align: center;
}
.p-info ul{
    margin-top: 1.5rem;
   list-style: disc;
}
.p-info p{
    font-size: 1.5rem;
    color: gray;
}
.p-info .shop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-info .price{
    font-size: 2.5rem;
    color: #BC572B;
   
}
.addbtn{
    font-size: 1.5rem;
    background-color: #BC572B;
    color: white;
    border:1px solid #BC572B;
    padding: .5rem 2rem;
    border-radius: 20px;
    margin-left: 2.5rem;
}
.addbtn i{
    margin-left: .5rem;
}

.addbtn:hover{
    background-color: white;
    color: #BC572B;
    cursor: pointer;
}
.addbtn:hover i{
    color: #BC572B;
}
@media screen and (min-width: 620px){
    .postRow {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        max-width: 750px;
    }
    /* .videosRow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        max-width: 750px;
    } */
    .productRow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .productImgRow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        max-width: 1200px;
    }
}
@media screen and (min-width: 920px){
    .mediaInfo {
        margin-top: 0rem;
    }
    .postRow {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        max-width: 1200px;
    }
    .videosRow {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        max-width: 1200px;
    }
    .productRow{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        max-width: 1200px;
    }
    .p-img{
        grid-column: 1/2;
    }
    .p-info{
        grid-column: 2/-1;
    }
    .productImgRow{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        max-width: 1200px;
    }
}
@media screen and (min-width:750px) {
    .container{
        padding: 0 5rem;
    }
     main .formArea{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        max-width: 1200px;
     }   
     .formArea article.right{
        grid-column: 2/-1;
        margin-top: 0;
     }
     h2.section-title{
        text-align: left;
     }
     .title-div{
        text-align: left;
    }
    
    
    }
    @media screen and (min-width:960px){
     
        .formArea li.mt-2{
            margin-top: 2rem;
        }
        .flex-row{
            justify-content: left;
        }
        .col-2{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1rem;
        }
    }
    
/*Anas*/
