/******************************************************************
                        TABLE OF CONTENTS
-----------------------------------------------------------------
    1. Project details and color and typeography info
    2. Global Styles
    3. Header and Nav styles
    4. Main Body Content
    5. Generic Selectors (shared page class styles)
    6. Footer content
    7. Forms and comments
    8. Media screen


******************************************************************/
/********************************
    1. Project Details and Color and Typeography Guidelines

Project Details
Author: Anas Ahmed, Jorge Ferreira, Elizabeth Olson, Yi Ling Tsai
Project: Mitch's Surf Shop
Ver: 1.1
last updated: 6.3.2024
Notes: ...
-----------------------------------------------------

    COLOR GUIDE: 
Teal (nav hover):  #2f6a75 
Light Teal (header background): #43ACC1
Dark Coral (H3): 
Black: #000
White: #FFF
-----------------------------------------------------

    COLOR GUIDE: 
Bangers: some h2, specifically for headers
Fjalla One: mostly everything
*******************************/

/********************************
********************************
    2. Global Styles
********************************
*******************************/
:root {
    --primary-color: #43ACC1;
    --secondary-color: #BC572B;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, .25);
    --hover-color: rgb(219, 216, 216);
    --font-family-heading: "Bangers", system-ui;
    --font-family-body: "Fjalla One", sans-serif;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --h2Font-size: 2.3em;
    --h3Font-size: 1.7em;
    --margin: 1.5rem;
    --font-size: 1.2em;
    --width: 100%;
    --height: 100%;
    --rel-position: relative;
    --abs-position: absolute;
    --cen-align: center;
    --diplay-none: none;
    --line-height: 1.2em;
    --horizental-mrgn: 7%;
    --mx-width: 1200px;
    --gap: 1rem;
    --footer-bg-color: #022E3B;

    /* Alternate Style Theme */
    --alt-primary-color: #741931;
    --alt-secondary-color: #c39e38;
    --alt-text-color: #333;
    --alt-shadow-color: rgba(0, 0, 0, .5);
    --alt-hover-color: rgb(219, 216, 216);
}
html {
    font-size: 12px;
    font-family: var(--font-family-body);
}

h2 {
    font-size: var(--h2Font-size);
    margin: var(--margin);
}
h3 {
    font-size: var(--h3Font-size);
    margin: 1.5em;
}

p, figcaption {
    font-size: var(--font-size);
    margin: .5em 2em .5em;
    line-height: var(--line-height);  
}
figcaption {
    margin-right: 0;
}
li {
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin-left: 2.5em;
}

/********************************
********************************
    3. Header and Nav Styles
********************************
*******************************/
header {
    background-color: var(--primary-color)
}
header img {
    --hd-img-margin: 10px;
    margin: var(--hd-img-margin); 
    width: 100px;
}
.textShadow {

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.imgHeader {
  position: var(--rel-position);
  background: url("../images/home_hd_bg2.jpg") no-repeat center;
  background-size: cover;
  width: var(--width);
  height: 500px;
  text-align: var(--cen-align);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
  z-index: 1;
  font-size: 3em;
}
.imgHeader h1 {
  text-transform: uppercase;
  position: var(--abs-position);
  top: 150px;
  left: 150px;
  color: var(--text-color);
  line-height: 2;
  font-family: var(--font-family-heading)
}
.btnsHdr li {
  position: var(--rel-position);
  top: 350px;
  display:inline-block;
  border-radius: 25px;
  border: solid 2px var(--primary-color);
  font-size: .6em;
  padding: .5em 5em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(67, 172, 193, 1);
}
.btnsHdr a {
  color: var(--text-color);
  text-decoration: var(--diplay-none);
}
.menuwrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1800px;
    margin: auto;
    position: var(--rel-position);
}
nav {
    width: var(--width);
}
nav ul {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    list-style: var(--diplay-none);
    padding: 0;
    margin: 0;
}
nav ul li {
    text-align: var(--cen-align);
    font-size: 1.5em;
    border: solid 2px var(--text-color);
    margin: 1em;
     
}
nav ul a {
    display: block;
    padding: .2em .5em;
    color: var(--text-color);
    text-decoration: var(--diplay-none);
    font-size: 1.3em;
    
}
nav ul a:hover {
    background-color: var(--text-color);
    color: #2f6a75;
}
.menuIcon, .menuIconClose {
    font-size: 3.6em;
    color: var(--text-color);
    cursor: pointer;
    position: var(--abs-position); 
    right: 10px;
}
.menuIconClose {
    display: var(--diplay-none);
}
#checkbox {
    display: var(--diplay-none);
}
#checkbox:checked ~ nav ul {
    max-height: 1000px;
    transition: all .5s;
}
.menuwrap label {
    align-self: flex-end;
    position: var(--abs-position);
    top: 5px; 
    right: 10px;
}
#checkbox:checked + label .menuIcon {
    display: var(--diplay-none);
}
#checkbox:checked + label .menuIconClose {
    display: block;
}
#search, #shopcart {
    font-size: 3.6em;
    color: var(--text-color); 
    position: var(--abs-position); 
    top:10px;
}
#search {
    right: 65px;
}
#shopcart {
    right: 115px;
}
.cart-icon, .search-icon  {
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    text-decoration: var(--diplay-none);
}
a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
a:active {
    color: var(--primary-color);
}
figure.mitchGuys  {
    width: 50%; 
    height: auto; 
    margin: 0 auto; 
    text-transform: uppercase;
}
.mitchGuys {
    width: var(--width); 
    height: auto; 
}
/********************************
********************************
    4. Main Body Content
********************************
*******************************/
.media-main .first-img img {
    width: 100%;
    max-width: 500px;
}
#womenPic {
    grid-column: 1 / 3; 
    grid-row: 1;         
    display: flex;
    position: var(--rel-position);  
    flex-direction: column;
    object-fit: contain; 
    object-position: var(--cen-align);
}

#menPic, #boardsPic {
    grid-row: 2;         
    height: 350px;       
    position: var(--rel-position);  
}

#menPic {
    grid-column: 1;      
}

#boardsPic {
    grid-column: 2;      
}

#ladyPic {
    grid-column: 1 / 3;  
    display: var(--diplay-none);       
}

#menPic img, #boardsPic img, #womenPic img, #ladyPic img {
    width: var(--width);
    height: var(--height);
    object-fit: cover;   
}

.for {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;  
    gap: 0;  
    flex: 0 0 auto;
}

.for a {
    text-decoration: var(--diplay-none);
    color: inherit;
    display: block;      
    height: var(--height);
}

.for figure {
    margin: 0;  
    display: flex;
    flex-direction: column;
    position: var(--rel-position); 
}

.for figcaption {
    position: var(--abs-position);
    bottom: 20px; 
    right: 0;
    font-size:2.7em;
    background-color: rgba(2, 46, 59, 0.7);
    color: var(--text-color);
    padding: .7em .4em;
}
.buttons {
    padding:.1em .1em;
    font-size: 3em; 
    text-transform:uppercase;
}
.buttons p {
    margin-left: 0;
}
.buttons a {
    margin-left:1em;
    border-radius: 25px;
    font-size: .6em;
    padding: .5em 1.5em;
    margin-bottom: 1em;
    box-shadow: 0 4px 6px rgba(127, 133, 129, 1);
    background-color: var(--primary-color);
    color: var(--text-color);
}

.info-section {
    display: flex;
    flex-direction: column; 
    justify-content: var(--cen-align);
    align-items: var(--cen-align);
    background-color: #b2ebf2;    
}

.info-item {
    text-align: var(--cen-align); 
    margin: 10px;
    width: var(--width); 
    color:#022E3B;
}

.info-item h3, .info-item i {
    margin: 10px 0;
    font-size: 3em;
}
.info-item h3 {
   font-family: var(--font-family-heading);     
}
.info-item p {
    margin: 0;
    font-size: 2em;
}
.onSale {
    text-align: var(--cen-align);
}
.onSale article {
    margin:1em 0;
}
.hidden-content {
    display: var(--diplay-none);
}
.toggle-link {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 2em;
    margin-left:10em;
}
.toggle {
    color: var(--primary-color);
}
.sLss{
    margin:5em;
    border: solid 2px var(--primary-color);
    padding: 5em;
}
.articles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}
h3.shippingTag  {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-left: 2em;
}

.shippingTag {
    font-size: 2em;
    color: var(--secondary-color);
    margin: 1rem;
    text-transform: uppercase;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    margin-bottom: 2em;
}

.club {
    font-size: 1.5em;
}
.contactHeading-bg {
    position: var(--rel-position);
    background: url("../images/contactBG.jpg") no-repeat center;
    background-size: cover;
    width: var(--width);
    min-height: 400px;
    text-align: var(--cen-align);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    z-index: 1;
    margin-bottom: 2em;
}
.contactHeading-bg h1 {
    font-size: 3em;
    position: var(--abs-position);
    bottom: 50px;
    color: var(--primary-color);
    font-family: var(--font-family-heading);
    line-height: 1.3;
    padding: 0 50px;
    width: var(--width);
    left: 50%;
    transform: translateX(-50%);
}
.contactHeading-bg h1 span {
    color: #000;
    display: block;
}
.lessonHeading-bg  {
    position: relative;
    background: url("../images/lessonsIMG2.jpg") no-repeat center;
    background-size: cover;
    width: var(--width);
    min-height: 200px;
    text-align: var(--cen-align);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    z-index: 1;
    margin-bottom: 2em;
}
.lessonHeading-bg h1 {
    font-size: 3em;
    position: var(--abs-position);
    bottom: 50px;
    color: var(--primary-color);
    font-family: var(--font-family-heading);
    line-height: 1.3;
    padding: 0 50px;
    width: var(--width);
    left: 50%;
    transform: translateX(-50%);
}
.lessonHeading-bg h1 span {
    color: #2f6a75;
    display: block;

}
.spacing {
    margin-top: 3rem;
}

.FAQ-bg  {
    position: var(--rel-position);
    background: url("../images/narrowheader.png") no-repeat center;
    background-size: cover;
    width: var(--width);
    min-height: 100px;
    text-align: var(--cen-align);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    z-index: 1;
    margin-bottom: 2em;
}
.submit {
    width: var(--width);
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: var(--cen-align);
    margin-top: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}
.product {
    margin: 50px var(--horizental-mrgn);
}
.p-info h2 {
    color: var(--primary-color);
    margin-left: 2.5rem;
}
.p-info .detail {
    color:  var(--primary-color);
    border: 2px solid  var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2rem;
   font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    text-align: var(--cen-align);
}
.p-info ul {
    margin-top: 1.5rem;
   list-style: disc;
}
.p-info p {
    font-size: 1.5rem;
    color: gray;
}
.p-info .shop {
    display: flex;
    justify-content: var(--cen-align);
    align-items: var(--cen-align);
}
.p-info .price {
    font-size: 2.5rem;
    color: var(--secondary-color);
   
}
.addbtn {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border:1px solid var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 100px;
    margin-left: 2.5rem;
}
.addbtn i {
    margin-left: .5rem;
}
.addbtn:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: var(--diplay-none);
}
.addbtn:hover i {
    color: var(--secondary-color);
}
.shopHeading-bg {
    position: var(--rel-position);
    background: url("../images/shop_hd_bg.jpg") no-repeat center;
    background-size: cover;
    width: var(--width);
    min-height: 400px;
    text-align: var(--cen-align);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    z-index: 1;
}
.shopHeading-bg h1 {
    font-size: 3em;
    position: var(--abs-position);
    bottom: 50px;
    color: #fff;
    font-family: var(--font-family-heading);
    line-height: 1.3;
    padding: 0 50px;
    width: var(--width);
    left: 50%;
    transform: translateX(-50%);
}
.shopHeading-bg h1 span {
    color: #000;
    display: block;
}
.on-sale > h2 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 5%;
    font-size: 2.5em;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: var(--cen-align);
}
.grid-container article {
    display: flex;
    flex-direction: column;
    align-items: var(--cen-align);
    justify-content: var(--cen-align);
    margin-bottom: 10px;
    max-width: 230px;
}
.grid-container article img {
    width: var(--width);
    height: var(--height);
}
.grid-container article img:hover {
    transform: scale(1.01);
    transition: .3s;
}
.grid-container article section {
    text-align: var(--cen-align);
}
.grid-container article section h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}
.grid-container article section h2 span {
    letter-spacing: 10px;
    line-height: 2;
    box-sizing: border-box;
    display: block; 
    margin-top: 0px;
}
.grid-container article section .stars {
    margin-top: 5px;
    color: #F1D554;
    font-size: 1.2em;
}
.by-category, .pp-collections {
    margin: 0 3%;
}
.money {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--diplay-none);
    padding: 12px 30px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    display: inline-block;
}
.money:hover {
    background-color: #d26638;
    text-decoration: var(--diplay-none);
    color: var(--text-color);
}
.on-sale .products-link #view-products {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.6em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    width: 90%;
    display: inline-block;
}
.on-sale .h2-heading2-3 {
    margin-top: 50px;
}
.best-sellers article:last-of-type {
    display: var(--diplay-none);
}
.products-link {
    text-align: var(--cen-align);
}
.products-link #view-products {
    margin-top: 30px;
    padding: 11px 30px;
    width: 96%;
}
.products-link #view-products:hover {
    background-color: #4fb9ce;
    border: solid 2px #4fb9ce;
}
.cart-main {
    display: flex;
    flex-direction: column;
    align-items: var(--cen-align);
    padding: 20px;
}
.cart, .summary {
    background: var(--text-color);
    border-radius: 10px;
    padding: 20px 30px;
    width: 90%;
    font-size: 1.5em;
    font-family: var(--font-family-body)
}
.cart-item {
    display: flex;
    flex-direction: column;
    align-items: var(--cen-align);
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}
.cart-item:last-child {
    margin-bottom: 30px;
}
.cart-item img {
    width: 200px;
    height: auto;
}
.item-info {
    text-align: var(--cen-align);
    padding: 10px 0;
}
.item-info h4 {
    margin: 0 0 5px;
}
.item-info p {
    margin: 0;
    font-size: 20px;
    color: grey;
}
.item-quantity {
    display: flex;
    align-items: var(--cen-align);
    justify-content: var(--cen-align);
}
.item-quantity > * {
    font-weight: 900;
}
.item-quantity input {
    max-width: 100px;
    text-align: var(--cen-align);
    border: 1px solid #ccc;
    margin: 0 5px;
}
.cart-item button {
    background-color: transparent;
    border: var(--diplay-none);
    padding: 5px;
    cursor: pointer;
}
.item-price {
    font-weight: bold;
    font-size: 1em;
}
.item-remove {
    cursor: pointer;
    color: #ff0000cf;
    font-size: 16px;
}
.cart a {
    color: var(--primary-color);
}
.summary h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #c2bdbd;
    margin-left: 0;
}
.summary div {
    margin-bottom: 25px;
    font-weight: 700;
}
.summary select, .summary input {
    width: var(--width);
    padding: 10px;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #c2bdbd;
    font-weight: 700;
}
.summary .give-code {
    padding-bottom: 20px;
}
.summary .total-price {
    border-top: 1px solid #c2bdbd;
}
.summary .checkout {
    background: var(--primary-color);
    border: var(--diplay-none);
    color: var(--text-color);
    padding: 15px;
    text-align: var(--cen-align);
    text-transform: uppercase;
    cursor: pointer;
    width: var(--width);
    border-radius: 5px;
    font-family: var(--font-family-body);
    font-size: 16px;
}
.summary .checkout:hover {
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: .3s;
}
.summary .total-price p, .summary .subtotal-price p {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.summary .subtotal-price .total-items {
    margin-right: auto;
    padding-left: 7px;
}
.details-main {
    max-width: 1200px;
    font-size: 1.3em;
    margin: auto;
    display: grid;
}
.product-image, .product-info {
    padding: 40px;
    margin: auto;
}
.product-image img {
    max-width: 450px;
    width: var(--width);
    height: var(--height);
    object-fit: cover;
}
.product-info > * {
    max-width: 500px;
}
.product-info h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product-info .reviews {
    display: flex;
    align-items: var(--cen-align);
    margin-bottom: 10px;
}
.product-info .stars {
    color: #f5a623;
    margin-right: 5px;
}
.product-info .reviews-count {
    font-size: 0.7em;
    color: #777;
}
.product-info .price {
    display: flex;
    align-items: var(--cen-align);
    margin-bottom: 10px;
}
.product-info .current-price {
    font-size: 1.5em;
    color: #333;
    margin-right: 10px;
}
.product-info .original-price {
    font-size: 1em;
    color: #999;
    text-decoration: line-through;
}
.product-info p {
    margin: .5em 0;
    /* margin-bottom: 20px; */
    color: #555;
    line-height: 1.5;
}
.product-info .options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.product-info .size,
.product-info .color,
.product-info .quantity {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}
.product-info label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
}
.product-info select,
.product-info input {
    padding: 10px;
    font-size: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.product-info .quantity-controls {
    display: flex;
    align-items: var(--cen-align);
    max-width: 25px;
}
.product-info .quantity-controls button {
    background-color: #000;
    color: var(--text-color);
    border: var(--diplay-none);
    padding: 7px 10px;
    font-size: 1em;
    cursor: pointer;
}
.product-info .quantity-controls input {
    width: 50px;
    text-align: var(--cen-align);
    margin: 0 5px;
}
.product-info .add-to-cart {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: var(--diplay-none);
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}
.product-info .add-to-cart:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: .3s;
}
/********************************
********************************
    5. Generic Selectors (shared page class styles)
********************************
*******************************/
.mediaInfo {
    margin-top: 2rem;
}
.posts h2,.videos h2 {
    font-size: 2.5rem;
}
.postRow img{
    width:100%;
}
.postRow,.videosRow {
    font-size: 1.5rem;
    position: var(--rel-position);
}
.postRow .likes {
    font-size: 1.5rem;
    margin: 1rem 1rem;
}
.postRow .likes span {
    margin-right: 2rem;
}
.postRow p {
    margin: 1rem;
}
.postRow .tags {
    color: var(--primary-color);
    margin-top: 1rem;
   
}
.postRow article,.videosRow article {
    margin-top: 2rem;
    border: 1px solid black;
}
.videosRow iframe {
    width: var(--width);
    height: 270px;
}
.videosRow article {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.videosRow .left {
    position: var(--rel-position);
}
.videosRow .right {
    padding: 1rem;
}
.videosRow .right h3 {
    margin-bottom: 2rem;
}
.videosRow .right p {
    font-size: 1rem;
    color: #7d7d7d;
    margin-bottom: 2rem;
}
.location {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
}
.location iframe {
    width: var(--width);
    height: 270px;
}
.location .directions {
    text-align: var(--cen-align);
    margin: 0 20px;
}
.location .directions h2 {
    font-size: 26px;
    letter-spacing: 2px;
    padding-top: 20px;
    font-family: var(--font-family-heading)
}
.location .directions p {
    font-size: 1.8em;
}
.location .directions .location-btn {
    margin: 20px 10px 40px 10px;
    text-align: var(--cen-align);
}
.direction-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    padding: 7px 30px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.6em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .20);
    width: var(--width);
    text-align: var(--cen-align);
    font-family: var(--font-family-body);
}
.directions .location-btn #get-direction:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.directions .location-btn #reviews {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    margin-top: 20px;
    color: var(--primary-color);
}
.directions .location-btn #reviews:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.alerts-container {
    background-color: #022E3B;
    margin: 20px 30px 130px 30px;
    padding: 20px;
    color: var(--text-color);
    text-align: var(--cen-align);
    display: flex;
    justify-content: var(--cen-align);
    align-items: var(--cen-align);
}
.alerts h2 {
    font-family: var(--font-family-heading);
    font-size: 28px;
    padding: 0 25px;
}
.alerts input {
    margin-top: 10px;
    border-radius: 100px;
    padding: 6px 10px;
    width: 95%;
    box-sizing: border-box;
    border-color: transparent;
}
::placeholder {
    color: #000;
    font-weight: 600;
}
.alerts #sign-up {
    margin-top: 20px;
    background-color: transparent;
    border: solid 2px var(--primary-color);
    width: 40%;
    padding: 7px;
}
.alerts #sign-up:hover {
    background-color: var(--text-color);
    color: var(--primary-color)
}

/********************************
********************************
   6. Footer Content
********************************
*******************************/
footer {
    background-color: var(--footer-bg-color);
    text-align: var(--cen-align);
    color: var(--text-color);
}
footer .merge {
    display: grid;
    padding-top: 40px;
}
footer img {
    max-width: 170px;
    height: 100px;     
}
footer h3 {
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: bold;
    text-align: left;
    font-family: var(--font-family-heading);
    letter-spacing: 3px;
    margin-bottom: 15px;
    margin-top: 0;
}
footer .text h3 {
    margin-top: 1.2em;
    margin-bottom: 0;
    text-align: var(--cen-align);
}
footer p {
    font-size: 1.5em;
    padding-bottom: 0;
    text-align: left;
}
footer .text p {
    max-width: 445px;
    line-height: 1.3;
}
footer ul li {
    padding: .4em;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.SMlogos {
    text-align: var(--cen-align);
    font-size: 3.5em;
    padding: .5em .8em; 
    color: var(--primary-color);
}
.SMlogos > * {
    margin-right: 20px;
}
footer a {
    color: var(--text-color);
    font-size: 1.3em;
    text-decoration: var(--diplay-none);
}

footer .ftright a:hover {
    background-color: var(--text-color);
    color: #2f6a75;
}
footer .bottom {
    padding-top: 2.5em;
    font-weight: normal;
    color: darkgray;
    padding-bottom: 0;
}
.ftleft {
    margin: 0 auto;
}
.ftright h3 {
    margin-left: 0;
}
.ftright {
    max-width: 570px;
    margin: 0 auto;
}
.ftright .columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .bottom p{
    text-align: var(--cen-align);
    margin-bottom: 0;
    font-size: 1.3em;
    padding-bottom: 30px;
}
/********************************
********************************
    7. Forms and Comments
********************************
*******************************/
.join-main form, .contact-main form {
    max-width: 700px;
}
.formArea {
    color: gray;
    padding: 2rem 0;
    margin: 5rem 5rem;
}
.formArea article {
    border: 1px dashed var(--primary-color);
    padding: 2rem 1rem;
    position: var(--rel-position);
}
.formGroup {
    position: var(--rel-position);
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    justify-content: space-between;
}
.formArea li {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: var(--rel-position);
    margin-left:0 ;
}
.form-control {
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(164, 164, 164);
}
.form-control:focus-visible {
    outline: 1px solid var(--primary-color);
}
#msg.form-control {
    height: 200px;
   
}
.formArea article.right {
    margin-top: 2rem;
}
.formArea .form-title {
    position: var(--abs-position);
    top: -4rem;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 600;
    background-color: var(--text-color);
    padding: 0 4px;
   
}
.formArea label {
    position: var(--rel-position);
    top: 0;
    right: 0;
}
form {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
        }
fieldset {
    border: var(--diplay-none);
        }
.joinForm {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
        }
legend {
    font-size: 1.7em;
    color: var(--secondary-color);
    font-weight: bold;
        }
label {
    display: block;
    margin: 10px 0 5px;
        }
.videosRow input[type="text"],
.contact-main form input[type="text"],
.join-main form input[type="text"],
.videosRow input[type="email"],
.contact-main form input[type="email"],
.join-main form input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="submit"],
select, textarea {
    width: var(--width);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.videosRow input[type="submit"]{
    background-color: var(--text-color);
    color: #022E3B;
    padding: 10px 20px;
    border: 2px solid #022E3B;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
        }
.videosRow input[type="submit"]:hover {
    background-color: #022E3B;
    color: #fff;
        }
.submit {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--diplay-none);
    cursor: pointer;
}
.submit:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}
/********************************
********************************
   8. Media Screens
********************************
*******************************/


@media screen and (min-width: 620px){
    /* media, join and product */
     .postRow {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--gap);
        max-width: 750px;
    }
    .productRow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--gap);
    }
    .productImgRow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--gap);
        max-width: var(--mx-width);
    }
    .container {
        padding: 0 5rem;
    }
     main .formArea {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: var(--gap);
        max-width: var(--mx-width);
     }   
     .formArea article.right{
        grid-column: 2/-1;
        margin-top: 0;
     }
     h2.section-title{
        text-align: left;
     }
     .title-div{
        text-align: left;
    } 
     .for {
        grid-template-columns: 1fr 1fr 1fr; 
        margin: 5em 5em 0;
        gap: 1em;
    }   
    #womenPic, #menPic,#boardsPic, #ladyPic {
        width: var(--width);
    }  
    #womenPic {
        grid-column: 1 / 2; 
        grid-row: 1 / 3;    
    }

    #menPic {
        grid-column: 2 / 4; 
        grid-row: 1 / 2;    
    }   

    #boardsPic {
        grid-column: 2 / 3; 
        grid-row: 2 / 3; 
        height: var(--height);
    }

    #ladyPic {
        grid-column: 3 / 4; 
        grid-row: 2 / 3;    
        display: block;     
    }
   
}  
@media (min-width: 750px) {
    .shop-main .on-sale {
        max-width: var(--mx-width);
        margin: 0 auto;
    }
    .shopHeading-bg h1 {
        max-width: 650px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .by-category article:last-of-type {
        display: var(--diplay-none);
    }
    .pp-collections article:last-of-type {
        display: var(--diplay-none);
    }
    .best-sellers article:last-of-type {
        display: block;
        align-self: var(--cen-align);
    }
    .grid-container article {
        max-width: 240px;
    }
    .products-link {
        display: var(--diplay-none);
    }
    .location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: var(--cen-align);
        margin: 30px var(--horizental-mrgn);
        border: 2px solid #ccc;
    }
    .location iframe, .location .directions {
        min-height: 350px;
        height: var(--height);
    }
    .location .directions {
        padding-top: 50px;
    }
    .alerts-container {
        margin: 50px var(--horizental-mrgn);
        text-align: var(--cen-align);
    }
    .alerts {
        max-width: 500px;
        text-align: var(--cen-align);
    }
    .alerts input {
        width: 70%;
    }
    .location-btn #get-direction,
    .location-btn #reviews {
        padding: 5px 30px;
    }
    .location-btn #reviews {
        width: 60%;
    }
    .videosRow, .posts, .info-section, .onSale, .for, .buttons, .map {
       margin: 30px var(--horizental-mrgn); 
    }
    .about-main, .terms-main,
    .join-main .p-join, .contact-main, .faq-main {
        max-width: var(--mx-width);
        margin: 0 var(--horizental-mrgn);
        margin-bottom: 50px;
    }
    .join-main form {
        margin: 0 var(--horizental-mrgn);
    }
    .cart-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        max-width: var(--mx-width);
        margin: 0 auto;
    }
    .cart {
        width: 70%;
    }
    .summary {
        width: 30%;
    }
    .cart-item {
        flex-direction: row;
        align-items: var(--cen-align);
        justify-content: space-between;
    }
    .cart-item img {
        width: 100px;
        height: auto;
    }
    .item-info {
        text-align: left;
        padding: 0 20px;
    }
    .details-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
    }
    .product-image img {
        max-width: var(--width);
    }
    .product-info {
        padding: 20px 40px;
    }

    .product-info .options {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .product-info .options *{
        width: var(--width);
    }
    footer .merge {
        display: grid;
        grid-template-columns: 1fr 170px;
        margin: 0 var(--horizental-mrgn);
    }
    .ftleft, .ftright {
        margin: 0;
    }
    footer .merge .ftleft {
        display: grid;
        grid-template-columns: 170px 1fr;
        align-items: var(--cen-align);
    }
    .ftright .columns {
        grid-template-columns: 1fr;
    }
    footer .bottom {
        padding-top: 0;
    }
    .ftleft .text h3, .ftleft .SMlogos {
        text-align: left;
    }
    .ftleft .text p {
        line-height: 1.5;
    }
    .ftright .columns h3 {
        margin-bottom: 0;
    }
}       
@media (min-width: 950px) {    
  .imgHeader h1 {
    left: auto;
    right: 65px;
    top: 150px;  
  }
  .btnsHeader {
    display: flex;
    justify-content: flex-end;
    align-items: var(--cen-align);
    position: var(--abs-position);
    top: 200px;
    right: 50px;
  }
  .btnsHdr {
    display: flex;
    gap: 10px;
  }
  .btnsHdr li {
    top: 0;
    margin: 0;
  }   
     .menuIcon {
        display: var(--diplay-none);
    }
    nav ul { /* fix this */
        max-height: 100px;
        padding: 1px 0;
        display: flex;
        position: var(--abs-position);
        top: 40px;
        left: 280px;
        margin: .2em;
    }
   nav ul li {
        margin: .1em;
    }
    .menuwrap img {
        width: auto;
        height: auto;
    }
    #search, #shopcart{
        top: 35px;
    }
    #search {
        right: 20px;
    }
    #shopcart {
        right: 85px;
    }
    .info-section {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5em .5em;
    }
    .info-item {
        flex: 1 1 30%; 
        min-width: 250px; 
    }
    .onSale {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .onSale article {
        flex: 1 1 30%;
        margin: 1em;
        max-width: 30%;
    }
    .onSale img {
        max-width: var(--width);
    }
    .videosMain {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px; 
        justify-content: var(--cen-align);
    }
    .videosMain iframe {
        flex: 0 0 45%; 
    }
    .articles-container {
        grid-template-columns: 1fr 1fr;
    }
    .formArea li.mt-2 {
            margin-top: 2rem;
        }
    .flex-row {
            justify-content: left;
        }
    .col-2 {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: var(--gap);
        }    
     .mediaInfo {
        margin-top: 0rem;
    }
    .postRow {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: var(--gap);
        max-width: var(--mx-width);
    }
    .videosRow {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--gap);
        
    }
    .productRow{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: var(--gap);
        max-width: var(--mx-width);
    }
    .p-img{
        grid-column: 1/2;
    }
    .p-info{
        grid-column: 2/-1;
    }
    .productImgRow{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: var(--gap);
        max-width: var(--mx-width);
    }
    .details-main {
        font-size: 1.5em;
        margin-bottom: 100px;
    }
    footer .merge {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.1em;
    }
    footer .merge .ftleft {
        display: grid;
        grid-template-columns: 170px 1fr;
        grid-column: span 2;
        align-items: var(--cen-align);
    }
    .ftright .columns{
        grid-template-columns: 1fr 1fr;
    }
    .ftleft .text h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .merge h3{
        padding-top: 30px;
    }
    .ftright .columns h3 {
        margin-bottom: 15px;
    }
}
